/* body selector */
body {
    background-color: #EAF6F6;
  }
 
/* input box selector */
.calculate-box {
    display: box;
}

.input-table {
    background-color: rgb(174, 185, 185);
   
    text-align: center;
    
}
.middle {
    text-align: center;
    font-weight: 700;
}
.button-style {
    background-color: skyblue;
    
    color: #8b8b8b;
    border-radius: 4px;
    padding: 5px 10px;
}



@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .col-1 {width: 100%;}
    .col-2 {width: 100%;}
    .col-3 {width: 100%;}
  }
 
