/* body selector */
body {
    background-color: #EAF6F6;
  }
 
/* button customize */
.button-style {
    background-color: skyblue;
    
    color: #8b8b8b;
    border-radius: 4px;
    padding: 5px 10px;
}
.notify {
    color: #fff;
    text-align: center;
    margin: 0 auto;
    background: #222436;
    margin-top: 20px;
    border-radius: 15px;
    padding: 5px 20px;
    display: none;
}
.notify-section{
    width: 35%;
    margin: 0 auto;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .col-1 {width: 100%;}
    .col-2 {width: 100%;}
    .col-3 {width: 100%;}
  }
 
